{% extends "layout.html" %}

{% block content %}
  <h1>Los Angeles Health Scores Analysis</h1>

  <p> In this project I combine <b>Los Angeles County's Department of Public Health</b> restaurant inspections dataset
      with <b>Yelp's</b> page listing. I aim to see if there are any correlations ...</p>

  <p> The Public Health Dataset has ratings for over 44,000 places that serve food in LA County: an area of 10 million people.
      Yelp's API only allows 5,000 calls per day, and it takes two queries to get the full restaurant data. 
      For the sake of time, I reduced the size of the dataset. </p>
  
  <p> I filtered the dataset to focus on independently owned local restaurants. I removed large
      buisnesses like Supermarkets [Von's, Whole Foods, Smart & Final] and Restaurant Chains [KFC, Subway, Sizzler's].
  </p>
  
  <p> A breakdown of the Health Grade shows that A grades are the majority, with B taking about 1/5th of the share, and C grade restaurants being rare at 2%. </p>
  <img src="static/img/health_project/grade_pie_chart.png" width="300" height="300">

  <p> A facility starts with a score of 100 points, and for each code violation loses points.</p>
  <p> For instance if a facility does not change the lining in a bread basket between customers, that is a MINOR infraction worth 2 points</p>
  <p> If a facility serves ground beef with over 30% fat content, that is a MAJOR infraction worth 4 points</p>
  <p>A score of: </p>
  <ul>
    <li>90 to 100 yields an A</li>
    <li>80 to 89 yields an B</li>
    <li>70 to 79 yields an C</li>
    <li>0 to 69 does not get a letter, but a card displaying the Score instead.</li>
  </ul>
  <p> A restaurant scoring under 70 twice within 12 months are subject to closure, and any major infractions are discretion wise for closure.</p>
  <p> If we look at the distribution of scores it looks trimodal </p>
  <p> Sources:
      Public Health http://publichealth.lacounty.gov/eh/misc/ehpost.htm
  </p>
{% endblock %}