{% extends "layout.html" %}
{% block extrahead %}
  <script>
    $(document).ready(function() {
        $("#menu_items").find("nav-link active").removeClass("active");
        $('#home').addClass("active");  
    });    
  </script>  
{% endblock %}

{% block content %}
<h1> Welcome </h1>
<br>
<p> My name is Arthur, I was working on search at Google Photos for 3 years. </p>

<p> I worked on creating new search features, improving result quality, and handling the search analytics. </p>

<p> I am taking some time off work to explore new interests/buzzwords like cloud, machine learning, analytics,
    and take vacation longer than 15 days. </p>

<p> All the code on this website (include the website itself) is accessible on my Github. This site is hosted on Google Cloud. </p>

{% endblock %}