{% extends "layout.html" %}
{% block extrahead %}
  <script>
    $(document).ready(function() {
        $("#menu_items").find("nav-link active").removeClass("active");
        $('#home').addClass("active");  
    });    
  </script>  
{% endblock %}

{% block content %}
<h1> Welcome </h1>
<br>
<p> My name is Arthur, I am a computer scientist who has been working on 
    <a href=https://en.wikipedia.org/wiki/Information_retrieval#Overview> Information Retrieval </a> related projects. </p>
  
<p> For the last 3 years I was working on search for Google Photos, 
    enabling users to search their personal photo library by image content, location, metadata, and other extracted features.</p>

<p> I was in charge of creating new search features, maintaining and improving result quality,
    developing analytics, and running experimentation. 
</p>

<p> I recently decided to buy my time back and I am traveling and learning new things. </p>

<p> Currently I am looking for a new opportunity. </p>

<p> Please take a look at some sample projects I made. 
  All the code on this website (include the website itself) is accessible on my <a href="https://github.com/aasams258"> Github</a>.</p>

{% endblock %}