<!-- https://www.sitepoint.com/how-to-simulate-mobile-devices-with-device-mode-in-chrome/ -->
<!doctype html>
<html lang="en">
  <head>
    <title>Arthur's Site</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
      {% block extrahead %}
      {% endblock %}
    </head>
    <body>
        <div class="container">
        <div class="row">
          <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow d-flex flex-nowrap">
              <a class="navbar-brand col-md-2 " href="#">Arthur Sams</a>
              <div class="dropdown mobile-only col-md-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{ url_for('index') }}">Home</a>
                  <a class="dropdown-item" href="{{ url_for('projects') }}">Projects</a>
                  <a class="dropdown-item" href="https://github.com/mo0f">Github</a>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/arthur-sams-7763758b">LinkedIn</a>
                </div>
              </div>
          </nav>
        </div>
        </div>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" id="menu_items">
              <div class="bio-pic text-center">
                  <img src="static/img/arthur_headshot.png" class="img-circle" width="150" height="150">
              </div>
              <div class="bio">
                <p> Math and CS, Cornell University  <p>
                <p> Xoogler and Adventurer </p>
              </div>
              <li class="nav-item">
                <a class="nav-link" id="home" href="{{ url_for('index') }}"> Home </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="health_scores" href="{{ url_for('health_scores') }}">
                      Health Scores Project
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="digits" href="{{ url_for('digits') }}">
                      MNIST CNN Project
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/mo0f"> Github </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://www.linkedin.com/in/arthur-sams-7763758b"> LinkedIn </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row">
                  <div class="col"> {% block content %}{% endblock %} </div>
                </div>
            </div>
        </main>
    </div>
      </div>
    </body>
</html>