{% extends "layout.html" %}

{% block extrahead %}
  <script>
    $(document).ready(function() {
        $("#menu_items").find("nav-link active").removeClass("active");
        $('#projects').addClass("active");  
    });    
  </script>  
{% endblock %}

{% block content %}

<h1> Projects </h1>
<p> These are two projects I recently finished, their purposes are to explore new technology, not make a critical contribution.</p>

<h2>Health Scores </h2>
<p> In the health score project, I used the Yelp API with Asynchronous calls to scrape restaurant data, which was then stored in an SQL database for analytics.</p>
<a href="{{ url_for('health_scores') }}"> Health Scores Project </a>

<h2> MNIST Classifier</h2>
<p> This project, I wanted to use ML-Engine and Tensorflow. I got to learn Tensorflow Estimators, which greatly improve the readability and speed of writing TF.
    I had to modify the MNIST tutorial in order to save the model and feed prediction inputs, but other than that the model is mostly the same as the tutorial. </p>
<a href="{{ url_for('digits') }}"> MNIST Classifier</a>

<h3> More to come...</h3>
I will have a few more tensorflow projects upcoming.

{% endblock %}